

/* Hero Section */
.hero {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  width: 100%; /* Ensure full width */
  margin: 0px !important;
  padding: 0px !important;
  background-color: black;
  font-family: "Oswald", serif;
}


/* Hero Content */
.hero-content {
    position: relative;
    z-index: 1; /* Ensure the content is above the background */
    text-align: center;
    color: #fff;
    animation: fadeInUp 1s ease-out; /* Fade-in animation */
}

.hero h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out;
}

#hero .title-logo {
  font-family: 'Unbounded', sans-serif;
  font-weight: 900;
  font-size: 10rem;
  //background: linear-gradient(to right, #681f87, #3498db); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-align: center;
  background: linear-gradient( to right, #8e44ad, #ffd700 5%, #8e44ad 90% ); /* Gradient with golden streak */
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move-light 10s linear infinite;
}

@keyframes move-light {
  0% {
    background-position: 200% center;
  }

  100% {
    background-position: -200% center;
  }
}

.hero p {
    font-size: 1.2rem;
    color: #E0E0E0;
    margin-bottom: 20px;
}

.cta-button {
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(90deg, #6A0DAD, #9C27B0);
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 20px rgba(154, 39, 176, 0.6);
}

/* Keyframe for fade-in effect */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
