<div class="blog-detail-container" *ngIf="blog; else loading">
    <h1 class="blog-title">{{ blog.title }}</h1>
    <div class="blog-meta">
      <span class="blog-author">By {{ blog.author }}</span>
      <span class="blog-date">{{ blog?.date || "NA" }}</span>
    </div>
    <div class="blog-content" [innerHTML]="blog.content">
      <!-- The blog.content is assumed to be HTML formatted.
           Otherwise, use interpolation: {{ blog.content }} -->
    </div>
  </div>
  
  <ng-template #loading>
    <div class="loading">
      Loading blog details...
    </div>
  </ng-template>
  