<footer class="footer">
    <div class="footer-content">
      <div class="contact-section">
        <h3>Contact Us</h3>
        <div class="social-links">
          <a href="https://instagram.com" target="_blank" class="social-link">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
          <a href="mailto:contact@adconnect.com" class="social-link">
            <i class="far fa-envelope"></i>
            Email
          </a>
          <a href="https://twitter.com" target="_blank" class="social-link">
            <i class="fab fa-twitter"></i>
            Twitter
          </a>
        </div>
      </div>
    </div>
</footer>