<section class="how-it-works">
    <h2 class="section-title">How Our Platform Works</h2>
    
    <div class="cards-container">
        <div *ngFor="let step of flowSteps; let i = index" class="card-wrapper">
          <div class="card-gsap" [attr.id]="'card-' + i">
            <div class="card-content">
              <h3>{{ step.title }}</h3>
              <p>{{ step.description }}</p>
            </div>
          </div>          
        </div>        
      </div>
      <div class="card-gif">
        <img src="speaker.gif" alt="gif" />
      </div>
  </section>


   
  