<!-- setpassword.component.html -->
<div class="auth-container">
    <!-- Set Password Form -->
    <div class="form-section">
      <h2>Set a password</h2>
      <p class="auth-subtext">Your previous password has been reseted. Please set a new password for your account.</p>
      
      <form [formGroup]="verifyCodeForm" (ngSubmit)="onSetPassword()">
        <div class="input-group">
          <label for="password">Create Password</label>
          <div class="password-input-wrapper">
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Enter new password"
            />
            <div *ngIf="verifyCodeForm.get('password')?.invalid && verifyCodeForm.get('password')?.touched" class="error-message">
              Password is required and must be at least 6 characters long.
            </div>
          </div>
        </div>
      
        <div class="input-group">
          <label for="confirmPassword">Re-enter Password</label>
          <div class="password-input-wrapper">
            <input
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              placeholder="Re-enter new password"
            />
            <div *ngIf="passwordMismatch && verifyCodeForm.get('confirmPassword')?.touched" class="error-message">
              Passwords do not match.
            </div>
          </div>
        </div>
      
        <button type="submit" class="primary-button" [disabled]="verifyCodeForm.invalid || passwordMismatch">
          Set Password
        </button>
      </form>
      
    </div>
  
    <!-- Image Section -->
    <div class="image-section">
      <img src="../../../assets/images/password.png" alt="Set Password" class="auth-image" />
    </div>
  </div>