<div class="auth-container">
    <!-- Forgot Password Form -->
    <div class="form-section">
      <div class="back-link">
        <a href="javascript:void(0)" routerLink="/auth">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="#1C1B1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Back to login
        </a>
      </div>
  
      <h2>Forgot your password?</h2>
      <p class="auth-subtext">Don't worry, happens to all of us. Enter your email below to recover your password</p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">Username</label>
          <input
            id="email"
            type="email"
            placeholder="Enter your Username"
            formControlName="email"
          />
          <div class="error-message" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.errors?.['required']">
            Email is required
          </div>
          <div class="error-message" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.errors?.['email']">
            Please enter a valid email address
          </div>
        </div>
        <button type="submit" class="primary-button" [disabled]="forgotPasswordForm.invalid || loading">
          {{ loading ? 'Sending...' : 'Submit' }}
        </button>
      </form>
  
      <div class="divider">
        <span>Or login with</span>
      </div>

    </div>
  
    <!-- Image Section -->
    <div class="image-section">
      <img src="../../../assets/images/password.png" alt="Forgot Password" class="auth-image" />
    </div>
  </div>