/* Keyframe for fade-in effect */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-left {
    animation: slideLeftAnimation both;
    animation-timeline: view();
}
  
@keyframes slideLeftAnimation {
    0% {
        transform: translateX(1000px);
    }
  
    50% {
        transform: translateX(0px);
    }
}
  
.slide-right {
    animation: slideRightAnimation both;
    animation-timeline: view();
}
  
@keyframes slideRightAnimation {
    0% {
        transform: translateX(-1000px);
    }
  
    50% {
        transform: translateX(0px);
    }
}

.how-it-works-container {
    background-color: #121212;
    margin: 0;
    padding: 0;
}
.waitlist-container {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.wave-container {
    background-color: #121212;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

// Remove default margin from root div
:host {
    display: block;
    margin: 0;
    padding: 0;
}

// Reset margin/padding on all divs
div {
    margin: 0;
    padding: 0;
}